*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

:root{
  --primary: #000;
  --secondary: #27363b;
  --gray: #808080;
  --light-gray-shade: #F2F0F1;
  --hover-color: #91ADC2;
  --light-colar: #f08080;
  --light-gray: #F0F0F0;
  --white: #fff;
  --poppins-font: "Poppins", sans-serif;
}

body{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  font-family: var(--poppins-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 12px;
  font-weight: 600;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul li{
  list-style: none;
}

p{
  line-height: 1.5;
  margin-bottom: 20px;
}

a{
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s linear 0s;
  color: var(--black);
}

a:hover{
  color: var(--hover-color);
}

button:hover{
  background: var(--hover-color);
}

.btn-primary{
  padding: 8px 25px;
  border-radius: 30px;
  font-size: 16px;
  transition: all 0.2s linear 0s;
  display: block;
  margin-bottom: 10px;
  background: var(--primary);
  color: var(--white);
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="submit"],
textarea,
select{
  font-family: var(--poppins-font);
  border-radius: 25px;
  padding: 8px 12px;
  font-size: 16px;
  width: 100%;
  border: none;
  background: var(--light-gray);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  outline: none;
}

input[type="submit"]{
  cursor: pointer;
  width: auto;
  transition: all 0.2s linear 0s;
}

input[type="submit"]:hover{
  background: var(--light-colar);
  color: var(--white);
}

textarea{
  resize: vertical;
}

figure{
  line-height: 0;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  padding: 30px 0;
}

.entry-header.text-center{
  text-align: center;
}

.entry-header .entry-title {
  margin-bottom: 30px;
}

button {
  border: none;
  background: none;
  font-family: var(--poppins-font);
  cursor: pointer;
}

/* header start */

.hgroup-wrap, nav ul {
  display: flex;
  flex-wrap: wrap;
}

.hgroup-wrap{
  padding: 18px 0;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

nav li {
  margin: 0 12px;
}

.site-logo a {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
}

.login-and-cart {
  display: flex;
  gap: 15px;
  align-items: center;
}

.site-header .search-bar{
  width: 350px;
}

.login-and-cart .cart{
  position: relative;
}

.login-and-cart .cart-icon{
  cursor: pointer;
  display: block;
}

.login-and-cart .cart-basket {
  position: absolute;
  background: var(--white);
  box-shadow: 0px 3px 14px 0 rgba(0, 0, 0, 0.33);
  padding: 10px;
  width: 300px;
  right: 0;
  top: 100%;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: auto;
  /* opacity: 0; */
  /* visibility: hidden; */
}

.login-and-cart .cart:hover .cart-basket{
  opacity: 1;
  visibility: visible;
}

.cart-basket .basket-item {
  display: grid;
  gap: 10px;
  grid-template-columns: calc(30% - 5px) calc(70% - 5px);
  align-items: center;
  position: relative;
  padding: 3px 0;
}

.cart-basket .basket-item:not(:last-child){
  border-bottom: 1px solid var(--gray);
}

.cart-basket .item-quantity {
  margin-left: 5px;
}

.cart-basket .delete{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: 5px;
  background: var(--gray);
  padding: 14px;
  border-radius: 50%;
}

.cart-basket .delete:hover{
  background: var(--primary);
}

.cart-basket .delete::before{
  position: absolute;
  content: '\f1f8';
  font-family: 'FontAwesome';
  top: 50%;
  left: 50%;
  color: var(--white);
  transform: translate(-50%, -50%);
}

/* header end */

/* banner start */

.banner{
  background: var(--light-gray-shade);
  padding: 20px 0 0 0;
}

.banner-content-wrap{
  display: grid;
  gap: 30px;
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  align-items: center;
}

.banner-content .entry-title{
  font-size: 30px;
}

.banner-img {
  line-height: 0;
}

/* banner end */

/* new arrivals section start */

.cloth-items-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.cloth-items-wrap .item {
  width: 23%;
  margin: 0 10px 20px 10px;
  width: calc(25% - 20px);
}

.item a{
  display: block;
}

.item .featured-image {
  background: var(--light-gray);
  border-radius: 15px;
  margin-bottom: 15px;
  height: 290px;
}

.item img{
  transition: all 0.3s linear 0s;
}

.item:hover img{
  transform: scale(1.1);
}

.item .item-info h4{
  transition: all 0.2s linear 0s;
}

.price-discount-wrap {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.price-discount-wrap > span {
  margin-right: 10px;
}

.discounted-price, .actual-price {
  font-weight: 600;
  font-size: 18px;
}

.actual-price{
  color: var(--gray);
  text-decoration: line-through;
}

.discount-percent {
  background: var(--light-colar);
  color: var(--white);
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 6px;
}

.item > a:hover{
  color: unset;
}

.item > a:hover h4{
  color: var(--hover-color);
}

/* new arrivals section end */

/* single product detail section start */

.single-product-detail-wrap {
  display: grid;
  grid-template-columns: calc(30% - 15px) calc(70% - 15px);
  gap: 30px;
}

.single-product-detail-wrap .featured-image {
  background: var(--light-gray);
  border-radius: 15px;
}

.single-product-detail-wrap .featured-image img {
  width: 100%;
}

.single-product-detail-wrap .price-discount-wrap{
  margin-bottom: 20px;
}

.single-product-detail-wrap .price-discount-wrap .price {
  font-size: 22px;
}

/* single product detail section end */






/* contact page start */

.contact-form-wrap {
  max-width: 400px;
}

.contact-form .input-wrap {
  margin-bottom: 15px;
}

.contact-form .input-wrap label{
  display: inline-block;
  margin-bottom: 5px;
}

/* contact page end */