*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

:root{
  --primary: #000;
  --secondary: #27363b;
  --light-gray-shade: #F2F0F1;
  --hover-color: #91ADC2;
  --light-colar: #f08080;
  --white: #fff;
  --poppins-font: "Poppins", sans-serif;
}

body{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  font-family: var(--poppins-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 12px;
  font-weight: 600;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul li{
  list-style: none;
}

p{
  line-height: 1.5;
  margin-bottom: 20px;
}

a{
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s linear 0s;
  color: var(--black);
}

a:hover{
  color: var(--hover-color);
}

.btn-primary{
  padding: 8px 25px;
  border-radius: 30px;
  font-size: 16px;
  font-family: var(--poppins-font);
  transition: all 0.2s linear 0s;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  border: none;
  background: var(--primary);
  color: var(--white);
}

.btn-primary:hover{
  /* background: var(--light-red); */
  /* color: var(--white); */
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="submit"],
textarea,
select{
  font-family: var(--poppins-font);
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
  width: 100%;
  border: 1px solid var(--primary);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  outline: none;
}

input[type="submit"]{
  cursor: pointer;
  width: auto;
  transition: all 0.2s linear 0s;
}

input[type="submit"]:hover{
  background: var(--light-colar);
  color: var(--white);
}

textarea{
  resize: vertical;
}

figure{
  line-height: 0;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  padding: 20px 0;
}

/* header */

.hgroup-wrap, nav ul {
  display: flex;
  flex-wrap: wrap;
}

.hgroup-wrap{
  padding: 20px 0;
  gap: 20px;
  align-items: center;
}

nav li {
  margin: 0 12px;
}

.site-logo a {
  font-size: 30px;
  font-weight: 700;
}

.banner{
  background: var(--light-gray-shade);
  padding: 40px 0;
}

.banner-content {
  max-width: 580px;
}